<!doctype html>

<html lang="en">

<head>
  <title>Image Search Abstraction Layer API - Error</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Links -->
  <link rel="shortcut icon" href="https://jwaynedavidson.com/favicon.png">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" />
  <link rel="stylesheet" href="./css/style.css" />
  <script src="https://jwaynedavidson.com/scripts/gatracking.js"></script>
</head>

<body>

  <div>
    <h1><i class="fa fa-cogs"></i> Image Search Abstraction Layer API - Error</h1>

    <h3><i class="fa fa-user"></i> Coded by <a href="https://jwaynedavidson.com">Joshua Davidson</a></h3>

    <h3><i class="fa fa-info"></i> Message</h3>
    <p><%= message %></p>

    <h3><i class="fa fa-terminal"></i> Error</h3>
    <code><%= error %></code>

  </div>

</body>

</html>
